* {
    font-family: 'Macondo', cursive;
    color: black;
}
h2,
h1 {
    font-size: 155px;
    color: rgb(0, 0, 0);
}
body {
    background-image: url(img/istockphoto-1173579665-612x612.jpg);
}
.container{
    text-align: center;
    font-size: 48px;
    background-color: rgba(53, 49, 52, 0.8);
    margin: 30px;
    border-radius: 30px;
    padding: 20px;
}
.cocinero {
    width: 450px;
    height: auto;
}
ol{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
}
li{
    list-style: none;
}
img {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 30px;
}
.recipes {
    text-align: center;
    margin-top: 50px;
}
